<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
                <key>difficulty</key>
		<string>Easy</string>
		<key>iD</key>
		<string>1</string>
		<key>title</key>
		<string>Two Sum</string>
		<key>question</key>
		<string>https://leetcode.com/problems/two-sum/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Hard</string>
		<key>iD</key>
		<string>4</string>
		<key>title</key>
		<string>Median of Two Sorted Arrays</string>
		<key>question</key>
		<string>https://leetcode.com/problems/median-of-two-sorted-arrays/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Medium</string>
		<key>iD</key>
		<string>11</string>
		<key>title</key>
		<string>Container With Most Water</string>
		<key>question</key>
		<string>https://leetcode.com/problems/container-with-most-water/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
  
	<dict>
                <key>difficulty</key>
		<string>Hard</string>
		<key>iD</key>
		<string>41</string>
		<key>title</key>
		<string>First Missing Positive</string>
		<key>question</key>
		<string>https://leetcode.com/problems/first-missing-positive/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Medium</string>
		<key>iD</key>
		<string>18</string>
		<key>title</key>
		<string>4Sum</string>
		<key>question</key>
		<string>https://leetcode.com/problems/4sum/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Easy</string>
		<key>iD</key>
		<string>26</string>
		<key>title</key>
		<string>Remove Duplicates from Sorted Array</string>
		<key>question</key>
		<string>https://leetcode.com/problems/remove-duplicates-from-sorted-array/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Hard</string>
		<key>iD</key>
		<string>57</string>
		<key>title</key>
		<string>Insert Interval</string>
		<key>question</key>
		<string>https://leetcode.com/problems/insert-interval/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Medium</string>
		<key>iD</key>
		<string>59</string>
		<key>title</key>
		<string>Spiral Matrix II</string>
		<key>question</key>
		<string>https://leetcode.com/problems/spiral-matrix-ii/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Hard</string>
		<key>iD</key>
		<string>84</string>
		<key>title</key>
		<string>Largest Rectangle in Histogram</string>
		<key>question</key>
		<string>https://leetcode.com/problems/largest-rectangle-in-histogram/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Medium</string>
		<key>iD</key>
		<string>152</string>
		<key>title</key>
		<string>Maximum Product Subarray</string>
		<key>question</key>
		<string>https://leetcode.com/problems/maximum-product-subarray/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Hard</string>
		<key>iD</key>
		<string>128</string>
		<key>title</key>
		<string>Longest Consecutive Sequence</string>
		<key>question</key>
		<string>https://leetcode.com/problems/longest-consecutive-sequence/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Hard</string>
		<key>iD</key>
		<string>126</string>
		<key>title</key>
		<string>Word Ladder II</string>
		<key>question</key>
		<string>https://leetcode.com/problems/word-ladder-ii/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
	<dict>
                <key>difficulty</key>
		<string>Hard</string>
		<key>iD</key>
		<string>123</string>
		<key>title</key>
		<string>Best Time to Buy and Sell Stock III</string>
		<key>question</key>
		<string>https://leetcode.com/problems/best-time-to-buy-and-sell-stock-iii/</string>
                <key>answer</key>
		<string></string>
                <key>category</key>
		<string>array</string>
	</dict>
</array>
</plist>
